*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  hanging-punctuation: first last;
}

body,
h1,
h2,
h3,
p,
figure {
  margin: 0;
}

body {
  min-height: 100vh;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
